<div class="modal" id="match-modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <div class="content">
        <div class="notification is-danger">
          <h2 class="title is-2"><strong>Match<strong></h2>
          </div>
          <div class="columns">
            <div class="column">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img id="match-offered-item">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-5" id="match-offered-title"></p>

                    </div>
                  </div>

                  <div class="content">
                    <p id="match-offered-desc"></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img id="match-liked-item">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-5" id="match-liked-title"> </p>
                    </div>
                  </div>

                  <div class="content">
                    <p id="match-liked-desc"> </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-block">
            <button class="button is-primary is-danger is-fullwidth" onclick="location.href='/matches';">
              Matches
            </button>
          </div>
        </div>
      </div>
      <button class="modal-close" id="match-modal-close"></button>
    </div>
  </div>
