<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <title>Touch Slider</title>
  <script type="text/javascript">
  $( document ).ready(function() {
    $(".tab2").addClass('is-active');
  });
  </script>
</head>
<body style= "zoom: 1;">
  <div class="container">
    <div class="columns">
      <div class="column is-2">
        <nav class="menu">
          <p class="menu-heading">
            My Items
          </p>
          <!-- <a class="menu-block" href="#"><span class="menu-icon"><i class="fa fa-book"></i></span>bulma-website</a>
          <a class="menu-block" href="#"><span class="menu-icon"><i class="fa fa-book"></i></span>bulma</a>
          <a class="menu-block" href="#"><span class="menu-icon"><i class="fa fa-book"></i></span>marksheet</a>
          <a class="menu-block" href="#"><span class="menu-icon"><i class="fa fa-book"></i></span>jgthms.github.io</a>
          <a class="menu-block" href="#"><span class="menu-icon"><i class="fa fa-code-fork"></i></span>mojs</a>
          <a class="menu-block" href="#"><span class="menu-icon"><i class="fa fa-book"></i></span>grumpy-cat</a> -->
          <div class="menu-block">
            <button class="button is-primary is-outlined is-fullwidth">
              Reset all filters
            </button>
          </div>
        </nav>
      </div>
      <div class="column is-auto">
        <p class="control">
          <label class="label">Name</label>
          <input class="input" type="text" placeholder="Text input">
        </p>
        <p class="control">
          <label class="label">Subject</label>
          <span class="select">
            <select>
              <option>Select dropdown</option>
              <option>With options</option>
            </select>
          </span>
        </p>
        <p class="control">
          <label class="label">Message</label>
          <textarea class="textarea" placeholder="Textarea"></textarea>
        </p>
        <p class="control">
          <label class="checkbox">
            <input type="checkbox">
            Remember me
          </label>
        </p>
        <p class="control">
          <label class="radio">
            <input type="radio" name="question">
            Yes
          </label>
          <label class="radio">
            <input type="radio" name="question">
            No
          </label>
        </p>
        <p class="control">
          <button class="button is-primary">Submit</button>
          <button class="button">Cancel</button>
        </p>
      </div>
    </div>
  </div>

</body>
</html>
