#card-status {
  position: relative;
  background: #fff;
  width: 95%;
  height: 100%;
}



/* Like & dislike badge images */
 .like,
 .dislike {
  background: url("/images/liked.png") no-repeat scroll 0 0;
  opacity: 1;
  height: 80px;
  position: absolute;
  width: 170px;
  left: 215px;
  top:40px;
  z-index: 1;
  overflow: hidden;
  -moz-transition: all 100ms ease-in-out; /* image transition. Change 100ms to desired transition duration */
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

 .dislike {
  right: 215px;
  left: auto;
  background: url("/images/nope.png") no-repeat scroll 0 0;
}

/* Image container */
.img {
  height: 90%;
  width: 100%;
  margin-bottom: 5px;
  position: relative;
  -moz-transition: all 100ms ease-in-out; /* image transition. Change 100ms to desired transition duration */
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

/* Action - buttons */
.actions {
  text-align: center;
  width: 304px;
  margin: 0 auto;
  overflow: hidden;
}

.actions div {
  position: relative;
  display: inline-block;
  margin-right: -4px;
}

.actions a i {
  display: inline-block;
  width: 40px;
  height: 80px;
}

.actions a.dislike i {
  background: url("../img/dislike_button.png") no-repeat scroll center center;
}

.actions a.like i {
  background: url("../img/like_button.png") no-repeat scroll center center;
}

.actions a {
  float: left;
  display: block;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
  color: #a7a7a7;
  margin: 36px;
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
  outline: none;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.actions a:hover{
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}

/* jTinder status text */
#status {
  text-align: center;
  font-size: 18px;
  font-family: arial;
  margin-top: 30px;
  font-weight: bold;
}

.card-image > img {
  position: relative;
}

#touchsurface2 {
  overflow: hidden;
}
