<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <title>Touch Slider</title>
  <!-- <script type="text/javascript">
  $( document ).ready(function() {
  $(".tab1").addClass('is-active');
});
</script> -->
</head>
<body style= "zoom: 1;">
  <div class="container">
    <div class="columns">
      <div class="column is-2">
        <nav class="menu">
          <p class="menu-heading">
            Item up For Trade
          </p>

          <a class="menu-block" href="#"><span class="menu-icon"><i class="fa fa-plus"></i></span><%=Item.find(session[:current_item]).name%></a>

          <div class="menu-block">
            <button class="button is-primary is-outlined is-fullwidth">
              Reset all filters
            </button>
          </div>
        </nav>
      </div>
      <div class="column is-auto" id="touchsurface2">
        <div class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img id="itemImage2" src="/images/pane1.jpg" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-5">ITEM SUBJECT/SHORT DESCRIPTION</p>
          </div>
        </div>
        <div class="card is-fullwidth" id="inner">
          <div class="cardstatus">

          </div>
          <figure class="card-image is-4x3">
            <img id="itemImage" src="/images/pane1.jpg" alt="http://placehold.it/300x225">
          </figure>
          <div class="card-content">

            <div class="content">
              <div class="columns">
                <div class="column is-half is-offset-quarter">
                  <a id="like" class="button is-success is-large"><i class="fa fa-check"></i>LIKE</a>
                  <a id="nope" class="button is-danger is-large"><i class="fa fa-times"></i>NOPE</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


  </body>
  </html>
