<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <title>Touch Slider</title>

</head>
<body>


  <div class="container">
    <h3 class="title is-2">
      <a>
        Latest Item
      </a>
    </h3>

    <div class="columns">
      <div class="column is-10 is-offset-1" id="touchsurface2">
        <div class="card is-fullwidth" id="inner">
          <div class="cardstatus">

          </div>
          <figure class="card-image is-4x3">
            <img id="itemImage" src="/images/pane1.jpg" alt="http://placehold.it/300x225">
          </figure>
          <figure class="card-image is-4x3">
            <img id="itemImage3" src="/images/pane2.jpg" alt="http://placehold.it/300x225">
          </figure>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img id="itemImage2" src="/images/pane1.jpg" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-5">Card</p>
                <p class="subtitle is-6">Subtitle</p>
              </div>
            </div>

            <div class="content">
              ITEM DESCRIPTION <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <small>11:09 PM - 1 Jan 2016</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
